html,body {
    margin: 0;
    padding:0;
    border:0;
    height: 100%;
    width: 100%;
}

.container {
    margin: 0;
    padding:0;
    border:0;
    display: grid;
}

.wrapper {
    margin: 0;
    padding:0;
    border:0;
    display: flex;
}

.inline-wrapper {
    margin: 0;
    padding:0;
    border:0;
    display: inline-flex;
    float: left;
}

#layout {
    grid-template-rows: 5rem 5rem 5rem 5rem 1fr 1.25rem;
    grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
    grid-template-areas:
    "header header social-github social-linkedin social-twitter"
    "nav-bio main main main main"
    "nav-resume main main main main"
    "nav-projects main main main main"
    "filler main main main main"
    "footer footer footer footer footer";
    min-height: 100%;
}

@media (max-width: 700px) {
    #layout {
        grid-template-rows: 5rem 5rem 5rem 1fr 1.25rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "social-github social-linkedin social-twitter"
            "nav-bio nav-resume nav-projects"
            "main main main"
            "footer footer footer";
    }
    #social-github{
        padding-left: 33%;
        grid-area: social-github;
        padding-top: 1em;
    }
    
    #social-linkedin{
        padding-left: 33%;
        grid-area: social-linkedin;
        padding-top: 1em;
    }
    
    #social-twitter {
        padding-left: 33%;
        grid-area: social-twitter;
        padding-top: 1em;
    }
    
  }

#layout > header {
    /* align-items: center;
    justify-self: center; */
    display:flex;
    justify-items: center;
    grid-area: header;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

#logo {
    height:2em;
}

#layout input[type="radio"] {
    display:none;
}

#layout .frame {
    display: none;
}

#layout .nav-label {
    background-color: #333333;
}

#layout input[type="radio"]:checked + label + .frame{
    display: block;
}

#layout .bio{
    grid-area: nav-bio;

}

.icon {
    width: 100%; height: 100%;
    filter: invert(40%);
}

.icon-row {
    width: auto; height: 75%;
    filter: invert(40%);
}

#layout .resume{
    grid-area: nav-resume;
    
}

#layout .projects{
    grid-area: nav-projects;
    
}

#layout .frame {
    padding: 0;
    margin: 0;
    border: 0;
    width:100%;
    height:100%;
    grid-area: main;
}

#layout > .filler{
    grid-area: filler;
}

#layout > footer {
    grid-area: footer;
}



#title {
    height:100%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;

}

#title * {
    margin-left: 0.5em;
}

#social {
    justify-content: flex-end;
    padding-right: 1em;
    height:100%;
    padding-top:0.5em;
}

#social a{
    padding-right: 1em;
    padding-left: 1em;
}

h1 {
    margin:0;
}

h2 {
    margin: 0;
}

#nav {
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

article {
    margin: 5em;
}

footer {
    text-align: center;
}

.round {
    height: 10em;
    width: auto;
    border-radius: 50%;
    float: right;
}

iframe {
    margin:0;
    border: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow-x:hidden;
}

.screenshot {
    height: 10em;
    width: auto;
}

#social-github{
    grid-area: social-github;
    padding-top: 1em;
}

#social-linkedin{
    grid-area: social-linkedin;
    padding-top: 1em;
}

#social-twitter {
    grid-area: social-twitter;
    padding-top: 1em;
}

.icon:hover{
    filter: invert(100%);
}

.icon-row:hover{
    filter: invert(100%);
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration-line: underline;
}